<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.example.tinachou.hacked.maps2"
            android:label="@string/title_activity_maps2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
</manifest>
